@font-face{

  font-family: roobert;   

       src: url(https://static1.squarespace.com/static/61805088a13441018ea5ff98/t/6290c9c83b09d5791eaabc09/1653656008106/Roobert-Regular.otf);

  }

*{
  margin: 0;
  padding:0;
  font-family: roobert;
}